
  /* Nel tuo file CSS globale (styles.css) */
body {
    background-image: url('../src/assets/car.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    z-index: -1; /* Imposta un valore negativo per posizionare l'immagine di sfondo dietro agli altri elementi */
  }
  
  
